@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br>
<h2>Usuarios</h2>
<br>
<br>
<a class="btn btn-success" href="@Url.Action("Form", "Usuario")"><i></i> Agregar usuario</a>
<br>
<br>
<div class="table-responsive">
    <br>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>IdUsuario</th>
                    <th>Nombre</th>
                    <th>Apellido paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nacionalidad</th>
                    <th>Edad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
    </div>
    <tbody>
        @foreach (ML.Usuario usuario in Model.Objetos)
        {
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("Form", "Usuario", new {IdUsuario = usuario.IdUsuario})"><i></i>Editar</a></td>
                <td>@usuario.IdUsuario</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.ApellidoPaterno</td>
                <td>@usuario.ApellidoMaterno</td>
                <td>@usuario.Nacionalidad</td>
                <td>@usuario.Edad</td>
                <td><a class="btn btn-danger" href="@Url.Action("Delete", "Usuario", new {IdUsuario = usuario.IdUsuario})" onclick="return confirm('Seguro que quieres borrar el usuario?')"><i></i>Eliminar</a></td>
            </tr>
        }
    </tbody>
    </table>

</div>